/* General style */

@font-face {
    font-family: "OpenSans";
    src: url("font/OpenSans/OpenSans-VariableFont_wdth,wght.ttf") format("OpenType");
}

html {
    background-color: black;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    background-color: white;
    width: 21cm;
    height: 29.7cm;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;

    font-family: "OpenSans";
}

a {
    color: white;
    text-decoration: none;
}

h1 {
    font-size: 28px;
    margin-bottom: -10px;
    margin-top: 5px;
}

h2 {
    font-size: 14px;
    background-color: #004F74;
    margin-left: -20px;
    margin-top: 15px;
    margin-bottom: 0px;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 100%;
    color: white;
}

/*
 * Left part
 */

#left {
    font-weight: bold;
    background-color: #006391;
    width: 33%;
    padding: 20px;
    color: white;
    font-size: 14px;
}

.comp {
    display: flex;
    flex-direction: row;
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.comp * {
    margin-top: 0;
    margin-bottom: 0;
}

#profil {
    border-radius: 50%;
    width: 120px;
    border: solid white 5px;
}

.icons {
    fill: white;
    width: 20px;
    margin-right: 5px;
}

.language {
    margin: 0px;
    margin-top: 8px;
}

progress {
    -webkit-appearance: none;
    width: 70%;
    height: 10px;
}

::-webkit-progress-bar {
    background-color: #0000008a;
    border-radius: 10px;
}

::-webkit-progress-value {
    background-color: rgba(255, 255, 255, 0.774);
    border-radius: 10px;
}

.context {
    margin-bottom: -5px;
}

/*
 * Right part
 */

#right {
    background-color: white;
    width: 67%;
    padding: 20px;
}

#right p {

    font-size: 14px;
    margin-bottom: 20px;
    text-align: justify;
}

#right .intro {
    padding: 3px;
    width: 95%;
    font-weight: bolder;
    text-align: center;
    text
}

#my-title {
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 0px;
    color: rgba(255, 255, 255, 0.67);
}

.sub-title {
    font-size: 14px;
    margin: 0px;
    color: rgba(255, 255, 255, 0.67);
}

.detail {
    display: flex;
    flex-direction: row;
    width: 95%;
    justify-content: space-between;
    margin-top: 10px;
}

#right .detail div p {
    margin: 0 0 0 0;
}

.bubble span {
    background-color: #3b6688;
    color: #fff;
    border-radius: 7px;
    padding: 2px 5px 2px 5px;
    margin-right: 10px;
}

.bubble {
    margin-top: 9px;
}

.description {
    color: rgba(0, 0, 0, 0.61);
}

#right .resume {
    margin: 0;
    margin-bottom: 0;
    width: 95%;
}

#right .date {
    color: rgba(0, 0, 0, 0.37);
    font-size: 13px;
}

#right .location {
    font-size: 12px;
    text-align: right;
}

#right .title {
    font-weight: bold;
    font-size: 15px;
}