.detail {
    display: flex;
    flex-direction: row;
    width: 95%;
    justify-content: space-between;
    margin-top: 5px;
    line-height: 19px;
}

#right .intro {
    margin-top: -10px;
    margin-bottom: -5px;
    width: 95%;
}